* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}
body {
  display: flex;
  flex-direction: column;
}

section {
  max-width: 90rem;
  margin: 0 auto;
  padding: 5rem 0;
  text-align: center;
}

footer {
  text-align: center;
}

.inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
}

.custom-range {
  width: 70%;
}

input {
  margin: 0.5rem 0;
  padding: 1rem 0.5rem;
  width: 70%;
  font-size: 2rem;
}

h1 {
  font-size: 5rem;
}

label {
  margin-top: 4rem;
  font-size: 2rem;
  text-align: left;
}
